extends wiki
block content
  div(id='tool')
    nav.menu
      a.menu-item.selected(href='#', onclick='return false') 비교
      a.menu-item(href='/w/' + title2) 문서
  h1.title= title
  h2.title!= title3
  div!= content
