extends wiki
block content
  div(id='tool')
    nav.menu
      a.menu-item.selected(href='#', onclick='return false') 역사
      a.menu-item(href='/w/' + title3) 문서
  h1.titlee= title
  h2.titlee!= title2
  div!= content