extends wiki
block content
  h1.title= title
  form#usrform(method='POST', action='/ban/edit')
    dl.form-group
      dt
      dd
        textarea(rows='30', cols='100', name='content', form='usrform')= content
        .form-actions
          button.btn.btn-primary(type='submit') 수정 내용 저장하기
          a.btn(type='button', href='/w/' + title) 취소
