extends wiki  
block content
  div(id='tool')
    nav.menu
      a.menu-item.selected(href='#', onclick='return false') 이동
      a.menu-item(href='/w/' + title2) 문서
  h1.title= title
  h2.title!= '<span style="margin-left:5px"></span>(이동)'
  br
  span 정말로 이동 하시겠습니까?
  form#usrform(method='POST', action='/move/' + title2)
    br
    input.form-control.input-sm(type='text', placeholder=title, value=title, name='title')
    br
    br
    button.btn.btn-primary(type='submit') 이동
