extends wiki
block content
  div(id='tool')
    nav.menu
      a.menu-item.selected(href='#', onclick='return false') 토론
      a.menu-item(href='/w/' + title2) 문서
  h1.title= title
  h2.title!= '<span style="margin-left:5px"></span>(토론 목록)'
  div(id='content')!= content
  form#usrform(method='POST', action='/topic/' + title2)
    dl.form-group
      dd
        textarea(rows='1', cols='100', name='topic', form='usrform')
        .form-actions
          button.btn.btn-primary(type='submit') 새 토론