extends wiki
block content
  div(id='tool')
    nav.menu
      a.menu-item.selected(href='#', onclick='return false') 토론
      a.menu-item(href='/topic/' + title2) 목록
  h1.title= title
  h2.title!= '<span style="margin-left:5px"></span>(토론)'
  br
  h2.title= title3
  div(id='content')!= content
  form#usrform(method='POST', action='/topic/' + title2 + '/' + title4, style='display:' + toronstop)
    dl.form-group
      dt
        label(for="content") 토론 참여
      dd
        textarea(rows='10', cols='100', name='content', form='usrform')
        .form-actions
          button.btn.btn-primary(type='submit') 전송